.formCalc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  padding: 10px;
}

.formText {
  color: black !important;
  font-size: 1.2rem !important;
  margin-bottom: 1rem;
}

.formBtn {
  background-color: #dbd0c0 !important;
  border-bottom-style: groove !important;
}

.pText {
  text-align: center;
  width: 65%;
  margin: 3rem auto;
}
